body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.background {
  z-index: -99;
  position:fixed;
  padding-top: 2%;
  top: 0;
  left: 0;
  background-image: url(./43b0cee0c1a6ec82e4de348988ccb82d7198052.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 30%;
  min-width: 30%;
  min-height: 30%;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(147, 228, 240, 0.6);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  box-shadow: 0 .1rem .2rem .2rem rgba(0, 0, 0, 0.2);
  user-select: none;
}

.genshin {
  width: 4rem;
  height: 4rem;
  user-select: none;

}


/* 飞出 */
.fadeInDown {
  animation: fadeInDown 1s;
  -webkit-animation: fadeInDown 1s;
}

@keyframes fadeInDown {
  0% {
      margin-top: -100rem;
      opacity: 0;
  }
  100% {
      margin-top: 0;
      opacity: 1;
  }
}

/* 输入框 */
